.method {
    color: #DCDCAA;
}

.signal {
    color: #DCDCAA;
}

.bracket {
    color: yellow;
}

.type {
    color: #4EC9B0;
}

.param {
    color: #9CDCFE;
}

.default {
    color: #C586C0;
}

.void {
    color: #AAAAAA
}

.indent {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}