.method {
    color: #DCDCAA;
}

.signal {
    color: #DCDCAA;
}

.bracket {
    color: yellow;
}

.type {
    color: #4EC9B0;
}

.param {
    color: #9CDCFE;
}

.default {
    color: #C586C0;
}

.void {
    color: #AAAAAA
}

.indent {
    --margin-left: 40px;
    margin-top: 5px;
    margin-left: var(--margin-left);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    width: calc(100% - var(--margin-left));
    background-color: #00000030;
    display: inline-block;
}

p:has(span.indent) + div.language-gdscript.highlight {
    margin-left: 50px;
}